@import '../../../shared/variables';

.rating {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  outline: none;
}

.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0,0,0,0);
  outline: none;
}

.rating:not(:checked) > label {
  font-size: 200%;
  overflow: hidden;
  max-width: 1em;
  cursor: pointer;
  white-space: nowrap;
  color: $color-gray;
  outline: none;
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}

.clearRating {
  font-weight: bold;
  display: inline-block;
  margin-left: auto;
  margin-left: 14px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;
  color: $color-white;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: $color-light-red;

  &:hover {
    transform: scale(1.1);
  }
}
