<main calss="wrapper">
  <div class="Kamphol">
    <img src="assets/profile_pic/Kampis.jpg" alt="404" class="pPic">
      <p>Kamphol Taeng-Iam</p>
  </div>
      <div class="Olga">
        <img src="assets/profile_pic/Olga.jpg" alt="404" class="pPic">
          <p>Olga Tselyuk</p>
      </div>
    <div class="Simon">
      <img src="assets/profile_pic/Simon.jpeg" alt="404" class="pPic">
        <p>Simon Grahn</p>
    </div>
  <div class="Ieva">
    <img src="assets/profile_pic/Ieva.jpg" alt="404" class="pPic">
      <p>Ieva Lundin</p>
  </div>
</main>
