<main class="wrapper">
    <div class="contanier"  *ngFor="let members of members">
      <img class="membersImage"src="{{ members.image }}" alt="404" >
        <p>{{members.name}}</p>
        <div class="linkHolder">
          <a href="{{members.linkedin}}"><img src="assets/profile_pic/linkedIn.png" alt="404"></a>
          <a href="{{members.git}}"><img src="assets/profile_pic/gitHub.png" alt="404"></a>
          <a href=""><img class="gMail" src="assets/profile_pic/gmail.png" alt="404"></a>
        </div>
    </div>
</main>
