/*Main Colors*/
$color-white: #ece3d4;
$color-green: #58a556;
$color-turqiose: #2d9b8e;
$color-blue: #01285d;
$color-black: #000000;
$color-gray: #73787b;
$color-brown: #6e3a1d;
$color-red: #92262c;
$color-light-red: #b93d47;
$color-light-light-red:#e06168;
/*Spacing?*/

$regular-spacing: 20px;
/*Fonts*/
