@import './shared/variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  main {
    position: relative;
    height: auto;
  }

  /deep/ router-outlet ~ * {
    position: relative;
    width: 100%;
    height: 100%;
  }

  app-footer {
    margin-bottom: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
  }
}
