@import '../../../shared/variables';

.usersComment {
  width: 60em;
  margin: 20px;
  background-color: #daefee7a;
  padding: 20px;
  border-radius: 5px;
  letter-spacing: 1.2px;
  text-align: left;
  @media (max-width: 1000px) {
    width: 600px;
  }
  @media (max-width: 625px) {
    width: 250px;
  }

}


.separateComment {
  border-bottom: 1px solid gray;
}
