@import '../../shared/variables';

header {
  padding: $regular-spacing;
  background-color: lightblue;

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    li {

      a {
        margin-left: 10px;
        color: black;
        text-decoration: none;
      }
    }
  }
}
