<div id="container">
  <div ng2-carouselamos class="slides-wrapper" [items]="items" [width]="1250" [$prev]="prev" [$next]="next" [$item]="item">
  </div>


  <ng-template #prev>
    <img src="assets/home_page/left-arrow.png" id="left" />
  </ng-template>
  <ng-template #item let-item let-i="index">
    <div class="items">
      <img class="carousel" src="{{ item.name }}">
    </div>
  </ng-template>
  <ng-template #next>
    <img src="assets/home_page/right-arrow.png" id="right" />
  </ng-template>


  <div class="info">
    <button class="callToArms">Click here to checkout more movie</button>
    <p>
      The name Ghibli was given by Hayao Miyazaki from the Italian noun ghibli,based on the Libyan-Arabic
      name for the hot desert wind of that country, the idea being the studio would "blow a new wind through the anime industry".
      It also refers to an Italian aircraft, the Caproni Ca.309 Ghibli.
      Although the Italian word is more accurately transliterated as ギブリ (Giburi),
      the Japanese name of the studio is ジブリ (Jiburi).
    </p>
  </div>
  <div class="bigDaydyPicWrapper">

    <div *ngFor="let image of image" class="picWraper">
      <img src="{{ image.url }}" alt="404">
      <h3 class="imgaeText">{{image.name }} </h3>
    </div>
  </div>
