<section class="rate">
  <div class="rate__wrapper">

    <h1>Rate your movie!</h1>

    <p *ngIf="!ratingClicked">Click on the stars to start rating!</p>
    <p *ngIf="ratingClicked">The movie {{itemIdRatingClicked}} has been given {{ratingClicked}} stars</p>

    <div class="filter__container">

      <label for="search">Filter</label>
      <input id="search" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search!" />
    </div>

    <div class="rate__container" *ngFor="let ghibli of films | Moviefilter: searchText; let i of index">

      <span class="rate__container__info">{{ghibli.title}}</span>
      <app-stars [rating]="ghibli.rating" [id]="ghibli.id" (ratingClick)="ratingComponentClick($event)"></app-stars>
  
    </div>

  </div>
</section>
