@import '../../shared/variables';
/*....--------------...*/
.rate {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: $regular-spacing;
  background-image: url("https://static.boredpanda.com/blog/wp-content/uploads/2016/06/download-free-studio-ghibli-wallpapers-miyazaki-anime-44-57615b19e20b0__880.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  &__wrapper {
    width: 100%;
    margin-bottom: $regular-spacing;
    padding: $small-spacing;
    border-radius: $small-spacing;
    background-color: #daefee7a;
    @media screen and (min-width: 800px) {
      max-width: 70%;
      padding: $regular-spacing;
    }

    h1 {
      font-weight: bold;
      text-transform: uppercase;
    }

    .filter__container {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: auto;
      padding-bottom: $small-spacing;
      @media screen and (min-width: 800px) {
        flex-wrap: nowrap;
        justify-content: center;
        padding: 0;
      }

      label {
        font-weight: bold;
        margin-top: $small-spacing;
        padding: $small-spacing;
        cursor: pointer;
        text-transform: uppercase;
        color: $color-black;
      }

      input {
        font-size: 1em;
        display: block;
        flex: 1;
        height: 50px;
        margin: $regular-spacing;
        padding: $regular-spacing;
        color: $color-black;
        border: none;
        border-radius: $small-spacing;
        outline: none;
        background-color: $color-white;

        &::placeholder {
          font-size: 1em;
          color: $color-black;
        }
      }

      .button__container {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        @media screen and (min-width: 800px) {
          justify-content: flex-end;
        }

        span {
          font-weight: bold;
          padding: $small-spacing;
          cursor: pointer;
          text-transform: uppercase;
        }
      }
    }

    .loop__wrapper {
      display: flex;
      flex-direction: column;
      width: auto;
      min-height: 100vh;
    }

    .rate__container {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: $small-spacing;
      padding: $small-spacing $regular-spacing;
      cursor: pointer;
      transition: 0.2s;
      transform-origin: left;
      animation: 1s spin alternate ease-in-out;
      background-color: $color-white;
      @keyframes spin {
        0% {
          transform: translateY(180deg);
          transform: rotateY(180deg);
          transform: rotateX(180deg);
          opacity: 0;
        }

        100% {
          transform: translateY(0);
          transform: rotateY(0);
          transform: rotateX(0);
          opacity: 1;
        }
      }

      &__info {
        display: block;
        flex: 1;
        margin: 0;
        padding: $small-spacing $regular-spacing;
        cursor: pointer;
        animation: 1s spin alternate;
        text-align: left;
      }
    }
  }
}

.topList {
  font-weight: bold;
  margin-right: $small-spacing;
  padding: 5px $small-spacing;
  cursor: pointer;
  transition: 0.2s ease;
  text-transform: uppercase;
  color: $color-white;
  border: none;
  border-radius: $small-spacing;
  outline: none;
  background-color: $color-light-red;
  @media screen and (min-width: 800px) {
    margin-right: 0;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.desc {
  margin-left: $small-spacing;
  background-color: $color-blue;
}
