/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './app/shared/variables';

* {
  box-sizing: border-box;
}

html {
  background-color: $color-white;
  height: 100%;
}

body {
  height:100%;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  color: $color-black;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

a,
button,
input,
li,
p,
span,
ul {
  color: $color-black;
  font-family: 'Montserrat', sans-serif;
}
