@import '../../shared/variables';
@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";


label {
	display: block;
	margin-top: 2em;
}

.formular {
  padding: 2em;

}

h2 {
  text-align: center;
}

#comments {
  height: 4em;
}

input, textarea {
  width: 30%;
}

#checkbox {
  margin-top: 1em;
  text-align: left;
  width: auto;
}

.errorMessage {
	color: red;
}
